body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

label {
  margin: 0;
  padding: 0 15px;
  
  font-size: 2rem;
}

select {
  width: 60px;
  border: none;
  border-radius: 10px;
  padding: 0px 5px;
}

.label-box {
  background-color: rgb(0, 183, 255);
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 0 0 50px 0;
}

.exercise-box {
  margin: 50px;
}

.active {
  display: block;
}

.hidden {
  display: none;
}