/* Hero section CSS */

.container {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.hero-title {
    font-weight: 600;
    font-size: 2.5rem;
}

.hero-subtitle {
    font-size: 1.25rem;
    margin: 1em 0;
}

.hero-image {
    display: block;
    filter: brightness(95%);
    border-radius: 2px;
}

.cta-container {
    padding: 1em 0;
    margin-bottom: 1em;
}

.cta-container > .cta-button:first-child {
    margin: 0 .5em 0 0;
}

.cta-button {
    background-color: white;
    color: black;
    border: 1px solid black;
    
    font-size: 1.5em;
    font-family: Barlow;

    padding: .5em 1em .5em 1em ;

    cursor: pointer;

    transition: color .2s ease, background-color .2s ease;
}

.cta-button:hover {
    background-color: black;
    color: white;
}

/* Laptops and PC breakpoint */
@media (min-width: 1000px) {
    .container {
        padding: 2.5em;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .hero-image {
        max-width: 500px;
        width: 45%;
        object-fit: cover;
        object-position: right;
    }

    .hero-title-container {
        width: 40%;
    }
    
    .hero-title {
        font-weight: 600;
        font-size: 3.25rem;
    }

    .hero-subtitle {
        font-size: 1.5rem;
        margin: 1.5em 0;
    }
}

/* PC breakpoint */
@media (min-width: 1600px) {
    .container {
        padding: 5em;
    }

    .hero-image {
        max-width: 900px;
        width: 55%;
    }
}

/* Popular section  CSS */
.popular-section {
    background-color: #F7F7F7  ;
    
    width: 100%;
    padding: 4em 0;
    
    text-align: center;
}

.popular-section h1 {
    font-size: 2.5rem;
    font-weight: 400;
}

.card-wrapper { 
    margin: 5em 0;
    display: flex;
    justify-content: space-evenly;
}

.card {
    width: 260px;
    height: 160px;
    background-color: white;
    position: relative;
    margin: auto;

    cursor: pointer;

    transition: box-shadow .3s;
}

.card:hover .card-image {
    right: .5em;
}
.card:hover {
    box-shadow: 10px 10px rgba(0, 0, 0);
}

.card:hover .card-title {
    left: 1em;
}

.card-title {
    font-size: 1.55rem;
    font-weight: 400;
    position: absolute;
    left: -.75em;
    top: .25em;
    transition: left 0.3s;
}

.card-image {
    width: 100%;
    position: absolute;
    bottom: -.25em;
    right: -1.25em;
    transition: right 0.3s, bottom 0.3s;
}

.medium-screen {
    display: none;
}

.large-screen {
    display: none;
}

@media (min-width: 750px) {
    .card {
        margin: 0;
    }

    .medium-screen { 
        display: block;
    }
}


@media (min-width: 1000px) {
    .large-screen { 
        display: block;
    }
}

@media (min-width: 1600px) {
    .card-wrapper {
        margin: 5em 10em;
    }

    .card {
        width: 340px;
        height: 240px;
    }

    .card-title {
        top: 1em;
    }

}