/* Hero section CSS */

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1em;
}

.hero-title {
    font-weight: 600;
    font-size: 2.5rem;
}

.hero-subtitle {
    font-size: 1.25rem;
    margin: 1em 0;
}

.hero-image {
    width: 95%;
    display: block;
    filter: brightness(95%);
    border-radius: 2px;
}

.cta-container {
    padding: 1em 0;
    margin-bottom: 1em;
}

.cta-container > .cta-button:first-child {
    margin: 0 .5em 0 0;
}

.cta-button {
    background-color: white;
    color: black;
    border: 1px solid black;
    
    font-size: 1.5em;
    font-family: Barlow;

    padding: .5em 1em .5em 1em ;

    cursor: pointer;

    transition: color .2s ease, background-color .2s ease;
}

.cta-button:hover {
    background-color: black;
    color: white;
}

/* Laptops and PC breakpoint */
@media (min-width: 1000px) {
    .container {
        padding: 2.5em;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .hero-image {
        max-width: 500px;
        height: 100%;
        object-fit: cover;
        object-position: right;
    }

    .hero-title-container {
        width: 40%;
    }
    
    .hero-title {
        font-weight: 600;
        font-size: 3.25rem;
    }

    .hero-subtitle {
        font-size: 1.5rem;
        margin: 1.5em 0;
    }
}

/* PC breakpoint */
@media (min-width: 1600px) {
    .container {
        padding: 5em;
    }

    .hero-image {
        max-width: 800px;
    }
}

/* Popular section  CSS */
.popular-section {
    background-color: #F7F7F7  ;
    
    width: 100%;
    padding: 4em 0;
    margin-top: 3em;
    
    text-align: center;

    position: relative;
}
.checker-pattern {
    position:  absolute;
    z-index: 0;
    width: 100%;
    height: 100px;
    top: 14em;
    background-size: 50px 50px;
    background-position: 0 0, 25px 25px;
    background-image: linear-gradient(45deg, rgb(220, 220, 220) 25%, transparent 25%, transparent 75%, rgb(220, 220, 220) 75%, rgb(220, 220, 220)),
                          linear-gradient(45deg, rgb(220, 220, 220) 25%, transparent 25%, transparent 75%, rgb(220, 220, 220) 75%, rgb(220, 220, 220));
}

.popular-section-clip-top, .popular-section-clip-bottom {
    width: 100%;
    height: 50%;
    background-color: white;
    position: absolute;
}
.popular-section-clip-top {
    top: 0;
    clip-path: polygon(100% 10%, 0 0, 100% 0);
}

.popular-section-clip-bottom { 
    bottom: 0;
    clip-path: polygon(0 100%, 0 90%, 100% 100%);
}

.popular-section h1 {
    font-size: 2.5rem;
    font-weight: 400;
    position: relative;
}

.card-wrapper { 
    margin: 5em 0;
    display: flex;
    justify-content: space-evenly;
}

.card {
    display: flex;
    flex-direction: column;

    width: 260px;
    height: 160px;
    background-color: white;

    margin: auto;
    position: relative;

    cursor: pointer;

    transition: box-shadow .3s;
}

.card:hover .card-image {
    left: -2.5em;
    bottom: 0;
}
.card:hover {
    box-shadow: 10px 10px rgba(0, 0, 0);
}

.card:hover .card-clip,
.card:hover .card-clip-2,
.card:hover .card-clip-3 {
    background-color: #e46400;
}

.card-clip, .card-clip-2, .card-clip-3{
    position: absolute;

    z-index: 0;

    background-color: rgb(220, 220, 220);
    
    width: 15%;
    height: 3px;

    transition: background-color .2s linear;
}

.card-clip {
    bottom: 7em;

    width: 15%;
    height: 3px;
}

.card-clip-2 {
    bottom: 6em;

    width: 50%;
    height: 3px;
}

.card-clip-3 {
    bottom: 2em;
    right: 0;

    width: 30%;
    height: 3px;
}



.card-title {
    font-size: 1.35rem;
    font-weight: 400;

    margin: .5em .25em 0 .25em;

    z-index: 1;
}

.card-image {
    width: 100%;

    position: absolute;
    bottom: -.25em;
    left: -1.5em;
    
    
    transition: left 0.3s, bottom 0.3s;
}

.medium-screen, .large-screen, .xl-screen {
    display: none;
}

@media (min-width: 750px) {
    .card {
        margin: 0;
    }

    .medium-screen { 
        display: flex;
    }
}


@media (min-width: 1000px) {
    .card {
        width: 270px;
        height: 170px;
    }

    .popular-section h1 {
        font-size: 3rem;
        font-weight: 400;
    }

    .large-screen { 
        display: flex;
    }

    .popular-section-clip-top, .popular-section-clip-bottom {
        height: 70%;
    }

    .checker-pattern {
        top: 15em;
    }
}

@media (min-width: 1600px) {
    .popular-section {
        margin: 0;
    }

    .popular-section {
        padding: 6em 0;
    }

    .card-wrapper {
        margin: 8em 0em;
    }

    .card {
        width: 320px;
        height: 220px;
    }

    .card-title {
        margin: 1em 1em 0 1em;
    }

    .xl-screen {
        display: flex;
    }

    .checker-pattern {
        top: 22em;
    }
}

/* Location section */

.background-image-left,
.background-image-middle,
.background-image-right{
    position: absolute;
    z-index: -1;
}

.background-image-left {
    left: 3%;
    top: 50%;
    width: 340px;
}

.background-image-middle {
    right: 50%;
    bottom: 0;
    left: 45%;
    width: 220px;

}

.background-image-right {
    right: 3%;
    top: 10%;
    width: 460px;
}

.location-section {
    position: relative;
    overflow: hidden;

    text-align: center;

    width: 100%;
    padding: 4em 0;
}

.location-section h1 {
    font-size: 2.5rem;
    font-weight: 400;
}

.controls-wrapper {
    height: 60px;
    margin: 5em 0;
}

.toggler-button {
    background-color: white;
    color: black;

    border: 1px solid black;

    font-size: 1.5em;
    font-family: Barlow;

    padding: .5em 1em .5em 1em ;

    cursor: pointer;

    transition: transform .2s linear,
                box-shadow .2s linear,
                background-color .2s linear,
                color .1s linear,
}

.controls-wrapper button:first-child {
    margin-right: 1em;
}

.selected {
    background-color: black;
    color: white;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transform: scale(1.1);
    transition: transform .2s linear,
                box-shadow .2s linear,
                background-color .2s linear,
                color .1s linear;
}

.location-card-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: auto;
}

.location-card {
    max-width: 325px;

    margin: auto;
    margin-bottom: 2em;
    
    display: flex;
    flex-direction: column;
    
    text-align: start;

    background-color: #F7F7F7;
    color: black;

    transition: transform .1s linear;
}

.location-card:hover {
    transform: scale(1.05);
    transition: transform .1s linear;
}

.location-card span {
    font-size: 1.35rem;
    font-weight: 400;
    margin: .2em 0 .3em .5em;
}

.location-card img {
    display: block;
    border-radius: 2px;
}

@media (min-width: 1000px) {
    .background-image-left {
        top: 25%;
    }

    .location-card-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
        max-width: 680px;
    }

    .location-card {
        width: 50%;
        margin: 0 0 2em 0;
        margin-bottom: 0;
    }

    .location-section h1 {
        font-size: 3rem;
    }
}

@media (min-width: 1600px) {
    .location-card-wrapper {
        max-width: 1390px;
    }
}

/* Brands section */

.brand-section {
    background-color: #F7F7F7;
    text-align: center;

    display: none;

    padding: 6em 0;

    position: relative;
}

.brand-section-clip-top, .brand-section-clip-bottom {
    width: 100%;
    height: 50%;
    position: absolute;
    z-index: 0;
    background-color: white;
}

.brand-section-clip-top {
    clip-path: polygon(0 0, 0 10%, 100% 0);
    top: 0;
}

.brand-section-clip-bottom {
    clip-path: polygon(100% 100%, 0 100%, 100% 90%);
    bottom: 0;
}

.brand-section h1 {
    font-size: 2.5rem;
    font-weight: 400;
}

.brands-card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5em;

    max-width: 600px;
    margin: 4em auto;

}

.brand-card {
    display: flex;
    width: 288px;
    height: 240px;
    background-image: url(https://rentluxecar.com/images/dotted-bg.png);
}

.brand-card img {
    width: 80%;
    display: block;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    cursor: pointer;
}

@media (min-width: 750px) {
    .brand-section {
        display: block;
    }
}

@media(min-width: 1000px) {
    .brands-card-wrapper {
        max-width: 912px;
    }

    .brand-section h1 {
        font-size: 3rem;
    }

    .brand-section-clip-top, .brand-section-clip-bottom {
        height: 70%;
    }
}

@media (min-width: 1600px) {
    .brands-card-wrapper {
        max-width: 1536px;
    }
}

/* About section */

.about-section {
    width: 90%;

    padding: 4em 0;
    margin: auto;

    position: relative;
}

.about-wrapper {
    display: flex;
    flex-direction: column;
}

.about-text-wrapper {
    display: flex;
    flex-direction: column;
}

.about-text-wrapper h1 {
    font-size: 3rem;
    font-weight: 500;
}

.about-text-wrapper p {
    margin: .5em 0;
    font-size: 1.15rem;
}

.about-text-wrapper span {
    font-weight: 500;
    font-size: 1.25rem;
}

.about-text-wrapper a {
    font-weight: 700;
    color: black;
}

.about-text-wrapper a:hover {
    color: rebeccapurple;
}

.about-wrapper img {
    width: 100%;
    display: block;
}

.background-text, .background-text-2{
    position: absolute;

    font-size: 5rem;
    font-weight: 600;

    color: #f0f0f0;
    
    z-index: -1;
}

.background-text {
    transform: rotate(90deg);
    top: 2.5em;
}

.background-text-2 {
    right: 0;
    bottom: 5em;
}

.contacts-paragraph {
    font-weight: 500;
}

@media (min-width: 1000px ) {
    .about-section {
        width: 95%;
        max-width: 1600px;
    }

    .about-wrapper {
        flex-direction: row;
        justify-content: space-evenly;
    } 

    .about-text-wrapper {
        width: 40%;
        order: 2;
    }

    .about-wrapper img {
        object-fit: cover;
        object-position: 65%;
        width: 50%;
        order: 1;
    }
    
    .background-text-2 {
        right: 0;
        bottom: 1.5em;
    }

    .background-text {
        left: -.75em;
    };
}

@media (min-width: 1600px) {
    .about-wrapper img {
        object-fit: contain;
    }
}