/* Hero section CSS */

.container {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.hero-title {
    font-weight: 600;
    font-size: 2.5rem;
}

.hero-subtitle {
    font-size: 1.25rem;
    margin: 1em 0;
}

.hero-image {
    display: block;
    filter: brightness(95%);
    border-radius: 2px;
}

.cta-container {
    padding: 1em 0;
    margin-bottom: 1em;
}

.cta-container > .cta-button:first-child {
    margin: 0 .5em 0 0;
}

.cta-button {
    background-color: white;
    color: black;
    border: 1px solid black;
    
    font-size: 1.5em;
    font-family: Barlow;

    padding: .5em 1em .5em 1em ;

    cursor: pointer;

    transition: color .2s ease, background-color .2s ease;
}

.cta-button:hover {
    background-color: black;
    color: white;
}

/* Laptops and PC breakpoint */
@media (min-width: 1000px) {
    .container {
        padding: 2.5em;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .hero-image {
        max-width: 500px;
        width: 45%;
        object-fit: cover;
        object-position: right;
    }

    .hero-title-container {
        width: 40%;
    }
    
    .hero-title {
        font-weight: 600;
        font-size: 3.25rem;
    }

    .hero-subtitle {
        font-size: 1.5rem;
        margin: 1.5em 0;
    }
}

/* PC breakpoint */
@media (min-width: 1600px) {
    .container {
        padding: 5em;
    }

    .hero-image {
        max-width: 900px;
        width: 55%;
    }
}

/* Popular section  CSS */
.popular-section {
    background-color: #F7F7F7  ;
    
    width: 100%;
    padding: 4em 0;
    
    text-align: center;
}

.popular-section h1 {
    font-size: 2.5rem;
    font-weight: 400;
}

.card-wrapper { 
    margin: 5em 0;
    display: flex;
    justify-content: space-evenly;
}

.card {
    display: flex;
    flex-direction: column;

    width: 260px;
    height: 160px;
    background-color: white;

    margin: auto;
    position: relative;

    cursor: pointer;

    transition: box-shadow .3s;
}

.card:hover .card-image {
    left: -2.5em;
    bottom: 0;
}
.card:hover {
    box-shadow: 10px 10px rgba(0, 0, 0);
}

.card-title {
    font-size: 1.35rem;
    font-weight: 400;

    margin: .5em .25em 0 .25em;
}

.card-image {
    width: 100%;

    position: absolute;
    bottom: -.25em;
    left: -1.5em;
    
    
    transition: left 0.3s, bottom 0.3s;
}

.medium-screen, .large-screen, .xl-screen {
    display: none;
}

@media (min-width: 750px) {
    .card {
        margin: 0;
    }

    .medium-screen { 
        display: flex;
    }
}


@media (min-width: 1000px) {
    .card {
        width: 270px;
        height: 170px;
    }

    .popular-section h1 {
        font-size: 3rem;
        font-weight: 400;
    }

    .large-screen { 
        display: flex;
    }
}

@media (min-width: 1600px) {
    .popular-section {
        padding: 6em 0;
    }

    .card-wrapper {
        margin: 8em 0em;
    }

    .card {
        width: 320px;
        height: 220px;
    }

    .card-title {
        margin: 1em 1em 0 1em;
    }

    .xl-screen {
        display: flex;
    }
}

/* Location section */

.background-image-left,
.background-image-middle,
.background-image-right{
    position: absolute;
    z-index: -1;
}

.background-image-left {
    left: 3%;
    top: 50%;
    width: 340px;
}

.background-image-middle {
    right: 50%;
    bottom: 0;
    left: 45%;
    width: 220px;

}

.background-image-right {
    right: 3%;
    top: 10%;
    width: 460px;
}

.location-section {
    position: relative;
    overflow: hidden;

    text-align: center;

    width: 100%;
    padding: 4em 0;
}

.location-section h1 {
    font-size: 2.5rem;
    font-weight: 400;
}

.controls-wrapper {
    height: 60px;
    margin: 5em 0;
}

.toggler-button {
    background-color: white;
    color: black;

    border: 1px solid black;

    font-size: 1.5em;
    font-family: Barlow;

    padding: .5em 1em .5em 1em ;

    cursor: pointer;

    transition: transform .2s linear,
                box-shadow .2s linear,
                background-color .2s linear,
                color .1s linear,
}

.controls-wrapper button:first-child {
    margin-right: 1em;
}

.selected {
    background-color: black;
    color: white;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transform: scale(1.1);
    transition: transform .2s linear,
                box-shadow .2s linear,
                background-color .2s linear,
                color .1s linear;
}

.location-card-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: auto;
}

.location-card {
    max-width: 325px;

    margin: auto;
    margin-bottom: 2em;
    
    display: flex;
    flex-direction: column;
    
    text-align: start;

    background-color: #F7F7F7;
    color: black;

}

.location-card span {
    font-size: 1.35rem;
    font-weight: 400;
    margin: .2em 0 .3em .5em;
}

.location-card img {
    display: block;
    border-radius: 2px;
}

@media (min-width: 1000px) {
    .background-image-left {
        top: 25%;
    }

    .location-card-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
        max-width: 680px;
    }

    .location-card {
        width: 50%;
        margin: 0 0 2em 0;
        margin-bottom: 0;
    }

    .location-section h1 {
        font-size: 3rem;
        font-weight: 400;
    }
}

@media (min-width: 1600px) {
    .location-card-wrapper {
        max-width: 1390px;
    }
}