.details-section {
    padding: 3em 0;
}

.details-title { 
    text-align: center;

    font-size: 1.75rem;
    font-weight: 500;
}

.details-info-wrapper {
    display: flex;
    flex-direction: column;

    width: 90%;
    margin: auto
}

.car-info-wrapper {
    border-bottom: 1px solid rgb(199, 199, 199);
    margin-bottom: 2em;
}

.rent-car-image {
    display: block;
    border-radius: 3px;

    max-width: 675px;
    margin: 1.5em 0;
}

.details-info-wrapper span {
    display: block;
}

.rent-details {
    border-bottom: 1px solid rgb(199, 199, 199);
    padding-bottom: 1.5em;
    text-align: center;
}

.rent-details span:first-child {
    font-size: 1.7rem;
    margin-bottom: .25em;
}

.rent-details b {
    font-weight: 600;
}
.rent-details span:last-child {
    font-size: 1.05rem;
}

.car-specs {
    margin: 1.5em 0;
}

.car-specs span {
    font-size: 1.5rem;
    font-weight: 500;

    margin-bottom: .75em;
}

.car-specs table {
    font-size: 1.15rem;
    width: 100%;
    border-collapse: collapse;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.car-specs table tr {
    background-color: #f7f7f7;
    
}

.car-specs table td {
    padding: .5em;
    border: 1px solid rgb(199, 199, 199); 
}

.car-specs table tr td:first-child {
    width: 70%;
}

.rent-button {
    background-color: white;
    color: black;
    border: 1px solid black;
    
    font-size: 1.55em;
    font-family: Barlow;

    width: 100%;
    margin: 1em 0;
    padding: .5em 1em .5em 1em ;

    cursor: pointer;

    transition: color .2s ease, background-color .2s ease;
}

.rent-button:hover {
    background-color: black;
    color: white;
}

.toggles-wrapper {
    display: flex;
    padding-left: 1px;
}

.option-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 33.3%;
    height: 3.5em;

    background-color: white;
    color: black;

    border: 1px solid black;

    margin-right: -1px;

    font-size: 1.1rem;
    font-family: Barlow;

    cursor: pointer;

    transition: transform .2s linear,
                box-shadow .2s linear,
                background-color .2s linear,
                color .1s linear,
}

.active {
    background-color: black;
    color: white;
}

.option {
    display: none;

    margin: 2em 0;
}

.visible {
    display: block;
}

.option div {
    margin: 1em;
}

.option h3 {
    font-size: 1.35rem;
}

.option p {
    margin: .5em 0 2em 0;

    font-size: 1.05rem;
}

.details-info {
    position: relative;
}
